<div
    class="panel panel-default">
    <div class="panel-heading" #heading >{{ name }}</div>
    <div class="panel-body">
        <ng-content></ng-content>
        <!-- this code was rendering data to the app.component.ts where the server-components is hosted
            <p>
            <strong *ngIf="server.type === 'server'" style="color: red">{{ server.content }}</strong>
            <em *ngIf="server.type === 'blueprint'">{{ server.content }}</em>
          </p>
        -->
    </div>
</div>