<div class="container">
  <app-cockpit 
  (nameEmitter)="onServerAdded($event)"
  (nameEmitter1)="onBlueprintAdded($event)"
  ></app-cockpit>
    <div class="row">
      <div class="col-xs-12">
        <hr>
          <button class="btn btn-primary" (click)="onChangeElement()">Change first Element</button>
          <app-server-element 
          *ngFor="let server of serverElements" [name]="server.name">
          <!-- the paragraph below is PROJECTED to the app server component with the help of <ng-content></ng-content>
            <ng-content> is a directive that allows to pass html code that is found between the selectors, in this case <app-server-element></app-server-element>
              see the server component ts.
          -->
          
          <p>
            <strong *ngIf="server.type === 'server'" style="color: red">{{ server.content }}</strong>
            <em *ngIf="server.type === 'blueprint'">{{ server.content }}</em>
          </p>
          </app-server-element>
      </div>
  </div>
</div>
